.blogContent{
    &Top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &Title{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 80px;
            color: #FFFFFF;
            @media (max-width: 1010px) {
                font-size: 50px;
            }
        }
        &Search{
            position: relative;
            & input{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #929292;
                background-color: inherit;
                border: 1px solid #929292;
                outline: none;
                padding: 24px;
                width: 813px;
                @media (max-width: 1010px) {
                    width: 510px;
                    padding: 11px;
                }
            }
            & button{
                background-color: inherit;
                outline: none;
                border: none;
                cursor: pointer;
                position: absolute;
                top: 25px;
                right: 20px;
                @media (max-width: 1010px) {
                    top: 12px;
                }
            }
            @media (max-width: 677px) {
                display: none;
            }
        }
    }
    &Main{
        margin: 70px auto 30px;
        max-width: 1110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}