.limit {
    padding-bottom: 115px;
    &Content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &H2 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 160%;
        max-width: 919px;
        border: 1px solid #FCD54C;
        color: #FFFFFF;
        padding: 70px 95px 70px 95px;
        margin-bottom: 113px;
        box-sizing: content-box;
        & > span {
            color: #FCD54C;
        }
        @media (max-width: 768px){
            padding: 38px 60px;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 60px;
        }
        @media (max-width: 520px){
            font-size: 16px;
            line-height: 26px;
            padding: 25px;
        }
    }
    &Cards {
        display: flex;
        gap: 23px;
        @media (max-width: 320px){
            flex-direction: column;
        }
    }
    &Card {
        max-width: 543px;
        &P {
            padding-top: 70px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #E8E8E8;
            @media (max-width: 768px){
                font-size: 14px;
                line-height: 22px;
                padding-top: 30px;
            }
        }
    }
}