.faq {
    padding-bottom: 60px;
    &Content {
        padding: 0 30px;
        margin: 0 auto;
        max-width: 1040px;
    }
    &H1 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 60px;
        color: #FFFFFF;
        padding-bottom: 30px;
        @media (max-width:768px){
            font-size: 30px;
            line-height: 37px;
        }
        @media (max-width:400px){
            font-size: 24px;
            line-height: 30px;
        }
    }
    &Carts {
        display: flex;
        flex-direction: column;
        position: relative;
        // gap: 40px;
        &:last-child::before {
            content: '';
            width: 100%;
            border-top: 1px solid #929292;
            height: 1px;
            position: absolute;
            bottom: 0;
        }
        &Item {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: #FFFFFF;
            position: relative;
            padding: 20px 0;
            @media (max-width:768px){
                font-size: 16px;
                line-height: 21px;
            }
            @media (max-width:500px){
                font-size: 12px;
                line-height: 16px;
            }
            &Main {
                display: flex;
                align-items: center;
                justify-content: space-between; 
            }
            &Inherit {
                padding: 33px 20px;
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: #E8E8E8;
                max-width: 980px;
                @media (max-width:768px){
                    font-size: 12px;
                }
            }
            &::after {
                content: '';
                width: 100%;
                border-top: 1px solid #929292;
                height: 1px;
                position: absolute;
                top: 0;
            }
            & button {
                background: none;
                border: none;
                color: #FCD54C;
                cursor: pointer;
                font-size: 30px;
            }
            &::before {
                // content: '';
                // width: 100%;
                // border-top: 1px solid #929292;
                // height: 1px;
                // position: absolute;
                // bottom: 0;
            }
        }
    }
}