.banner {
    padding-bottom: 70px;
    &Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &Img {
        width: 100%;
        height: 100%;
    }
    &H1 {
        width: 380px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        color: #FFFFFF;
        & span {
            color: #FCD54C;
        }
        position: absolute;
        bottom: 15%;
        // @media (max-width: 1700px) {
        //     bottom: 400px;
        // }
        @media (max-width: 850px) {
            font-size: 46px;
        }
        @media (max-width: 500px) {
            font-size: 24px;
            line-height: 30px;
        }
    }
}