.appart{
    &Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    &H1 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        color: #fffFFFFF;
        padding-bottom: 85px;
        @media (max-width: 768px) {
            text-align: center;
            font-size: 30px;
            line-height: 50px;
            padding-bottom: 30px;
        }
        @media (max-width: 425px) {
            padding-top: 30px;
        }
    }
    &Slider {
        padding-bottom: 100px;
        &Init {
            padding-bottom: 55px;
        }
    }
}

.cart {
    position: relative;
    .cartPrev {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transition: all .5s ease; 
        & > img {
            display: block;
            height: 100%;
        }
        &Title {
            position: absolute;
            top: 50%;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 26px;
            color: #FFFFFF;
            @media (max-width: 1450px) {
                font-size: 30px;
            }
            @media (max-width: 575px) {
                font-size: 20px;
            }
            
        }
    }
    &Active {
        background: #FCD54C;
        display: flex;
        flex-direction: column;
        gap: 50px;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 20px 30px;
        transition: all .5s ease; 
        @media (max-width: 577px) {
            gap: 20px;
            padding: 20px 15px;
        } 
        @media (max-width: 510px) {
            gap: 40px;
            padding: 20px 30px;
        } 
        &P {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            text-align: left;
            transition: all .3s ease;
            @media (max-width: 1450px) {
                font-size: 16px;
                top: 30%;
            }
            @media (max-width: 930px) {
                font-size: 14px;
                line-height: 20px;
            }   
            @media (max-width: 510px) {
                font-size: 16px;
                line-height: 22px;
            } 
               
        }
        &H2{
            color: #272727 ;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 26px;
            @media (max-width: 990px) {
                font-size: 38px;
                line-height: 26px;
            }    
        }
        &Button {
            position: absolute;
            bottom: 5%;
            right: 5%;
            border: none;
            background: none;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #272727;
            cursor: pointer;
        }
    }
}

.cart:hover
.cartActive {
    opacity: 2;
}