.articules {
    &Content {
        margin: 140px auto 160px;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            margin: 70px auto 80px;
        }
    }
    &Text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 90px;
        @media (max-width: 1760px) {
            justify-content: space-around;
        }
        @media (max-width: 640px) {
            padding-bottom: 30px;
        }
        &H1 {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 85px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            @media (max-width: 1760px) {
                font-size: 50px;
                line-height: 67px;
            }
            @media (max-width: 768px) {
                font-size: 30px;
                line-height: 37px;
            }
            @media (max-width: 340px) {
                font-size: 24px;
                line-height: 30px;
            }
        }
        &P {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #929292;
            @media (max-width: 768px) {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    &Cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        @media (max-width: 1067px) {
            flex-wrap: wrap;
        }
        // @media (max-width: 350px) {
        //     flex-direction: column;
        //     align-items: center;
        //     gap: 15px;
        // }

    }
    &Carts {
        transition: all .5s;
        position: relative;
    }
    &Cart {
        &Img {
            
            & > img {
                height: 100%;
                display: block;
            }
            &::after {
                content: 'Discover Architecture';   
                position: absolute;
                top: 80%;
                left: 50px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 35px;
                color: #FFFFFF;
                @media (max-width:370px){
                    font-size: 22px;
                    left: 30px;
                }
            }

        }
        &Active {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 70px 35px 30px;
            border: 1px solid #FCD54C;
            background: #272727;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            opacity: 0;
            transition: all .5s;
            position: absolute;
            top: 0;
            left: 0;
            @media (max-width:768px){
                padding: 50px 33px 30px;
            }
            @media (max-width: 768px) {
                gap: 20px;
            }
            &H1 {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 35px;
                color: #FFFFFF;
                position: relative;
                &::before {
                    content: 'Jule 03, 2022';
                    font-family: 'Work Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    position: absolute;
                    top: -35px;
                    @media (max-width:768px){
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
            &P {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #929292;
                max-width: 280px;
            }
            &Button {
                border: none;
                background: none;
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #FCD54C;
                cursor: pointer;
                @media (max-width:768px){
                    font-size: 12px;
                    line-height: 0px;
                }
            }
        }
    }
}

.articulesCarts:hover
.articulesCartActive {
    opacity: 2;
}