
.workerSliderSlide {
    display: flex;
    align-items: center;
    gap: 30px;
}
.swiper-slide.workerSliderSlide.swiper-slide-next {
    opacity: 0.2;
    position: relative;
    top: -50px;
}
.swiper-slide.workerSliderSlide.swiper-slide-prev {
    opacity: 0.2;
    position: relative;
    top: -50px;
}
.swiper-pagination-workers-bullets > .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: #929292;
}
.swiper-pagination-workers-bullets > .swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background: #FCD54C;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-workers-bullets.swiper-pagination-horizontal{
    left: 50%;
    bottom: 20px;
    display: flex;
    gap: 10px;
    @media (max-width: 768px){
        left: 44%;
        bottom: 60px;
    }

}