.header {
    background: #272727;
    padding: 20px 0 26px 0;
    &Content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    &Left {
        position: relative;
        border-left:  2px solid #FCD54C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 152px;
        &::before {
            content: '';
            border-top: 2px solid #FCD54C;
            width: 35px;
            height: 3px;
            position: absolute;
            left: 0;
            top: 0;
        }
        &::after {
            content: '';
            border-bottom: 2px solid #FCD54C;
            width: 35px;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &Logo {
            padding: 7px 0px 15px 15px;
        }
    }
    &Right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        &Btn {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            color: #000000;
            padding: 12px 14px 13px 14px;
            background: #FCD54C;
            cursor: pointer;
            outline: none;
            border: none;
            @media (max-width: 627px) {
                display: none;
            }
        }
        &Number {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            @media (max-width: 627px) {
                display: none;
            }
        }
        &Burger{
            display: none;
            justify-content: space-between;
            flex-direction: column;
            height: 11.5px;
            width: 15.5px;
            cursor: pointer;
            & span{
                height: 2px;
                width: 15.5px;
                background: #FFFFFF;
            }
            @media (max-width: 1107px) {
                display: flex;
            }
        }
    }
    &Nav {
        display: flex;
        gap: 40px;
        //check
        & a {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #FFFFFF;
            //------ поставить
        }
        @media (max-width: 1107px) {
            display: none;
        }
    }
    
    
}
.logo {
    &TextB {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        color: #FFFFFF;
    }
    &TextS {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
        opacity: 0.6;
    }
}

.nav {
    &A {
        border-bottom: transparent 2px solid;
        &:hover {
            // position: absolute;
            color: #FCD54C;
            border-bottom: #FCD54C 2px solid;
        }
    }
    &Cont {
        width: 247px;
        height: 108px;
        background: #272727;
        position: absolute;
        z-index: 2;
        border: 1px #979797 solid;
        display: flex;
        flex-direction: column;
        border: 1px solid #979797;
        &Non {
            visibility: hidden;
            position: absolute;
        }
        & > a {
            height: 33%;
            padding: 10px 0 0 15px;
            &:hover {
                color: #272727;
                background-color: #FCD54C;
            }
        }
        &Option {
            & > a:active {
                color: #272727;
            }
        }
    }
}