.expertise {
    &Content {
        max-width: 730px;
        margin: 0 auto 89px;
    }
    &PT{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #FCD54C;
    }
    &H1 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 69px;
        color: #E8E8E8;
        padding: 40px 0 33px 0;
    }
    &PB {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #E8E8E8;
    }
    &Video {
        position: relative;
        padding-bottom: 120px;
        & video{
            cursor: pointer;
        }
    }
}