@import "../../../../mixin.scss";

.proposeContent{
    max-width: 1110px;
    margin: 100px auto;
    @media (max-width: 967px) {
        margin: 50px auto;
    }
    &Title{
        margin-bottom: 90px;
        @include servicesTitleText;
        @media (max-width: 967px) {
            margin-bottom: 30px;
        }
    }
    &Cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        &Card{
            position: relative;
            overflow: hidden;
            max-width: 350px;
            &Prev{
                width: 100%;
                height: 100%;
                z-index: 1;
                display: block;
                position: relative;
            }
            &Title{
                position: absolute;
                bottom: 20px;
                left: 20px;
                padding: 0 10px;
                @include servicesTitleText;
                @media (max-width: 967px) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            &Active{
                height: 100%;
                z-index: 2;
                width: 100%;
                opacity: 0;
                background: #FCD54C;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: all .5s;
                padding: 0 35px;
                position: absolute;
                left: 0;
                top: 0;
                @media (max-width: 1107px) {
                    padding: 0 14px;
                }
                &Title{
                    @include servicesTitleText;
                    color: #272727;
                    @media (max-width: 967px) {
                        font-size: 18px;
                        line-height: 35px;
                    }
                }
                &Description{
                    @include servicesDescriptionText;
                    color: #272727;
                    margin: 30px 0;
                    @media (max-width: 967px) {
                        font-size: 12px;
                        line-height: 18px;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}
.proposeContentCardsCard:hover
.proposeContentCardsCardActive {
    opacity: 2;
}