@import "../../mixin.scss";

.contactContent{
    &Title{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 75px;
        color: #FFFFFF;
        margin: 90px 0;
        @media (max-width: 768px) {
            font-size: 50px;
            line-height: 62px;
            margin: 30px 0;
        }
        @media (max-width: 407px) {
            font-size: 30px;
            line-height: 37px;
        }
    }
    &Map{
        position: relative;
        & iframe{
            width: 100%;
            height: 768px;
            @media (max-width: 1297px) {
                height: 596px;
            }
        }
        &Description{
            padding: 82px 0 88px 90px;
            position: absolute;
            background: #272727;
            width: 544px;
            top: 130px;
            left: 8%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media (max-width: 1297px) {
                padding: 28px 0 28px 28px;
                width: 273px;
            }
            @media (max-width: 757px) {
                position: static;
                background: inherit;
                padding: 0;
                margin-bottom: 30px;
            }
            &Title{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 45px;
                color: #FFFFFF;
                @media (max-width: 1297px) {
                    font-size: 20px;
                    line-height: 25px;
                }
                & span{
                    color: #FCD54C;
                }
            }
            &Subtitle{
                margin-top: 33px;
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #929292;
                max-width: 365px;
                @media (max-width: 1297px) {
                    font-size: 14px;
                    margin-top: 20px;
                }
            }
            &Number{
                margin: 61px 0 93px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 45px;
                color: #FFFFFF;
                @media (max-width: 1297px) {
                    font-size: 20px;
                    line-height: 25px;
                    margin: 20px 0;
                }
            }
            &Email{
                @include contactMapDescriptionText;
                & span{
                    font-weight: 400;
                    color: #929292;
                }
            }
            &Socials{
                display: flex;
                margin: 30px 0 35px;
                @media (max-width: 1297px) {
                    margin: 14px 0;
                }
                &Text{
                    @include contactMapDescriptionText;
                }
                &Icons{
                    margin-left: 10px;
                    display: flex;
                    gap: 10px;
                    align-items: flex-end;
                }
            }
            &Hours{
                @include contactMapDescriptionText;
                & span{
                    font-weight: 400;
                    color: #929292;
                }
            }
        }
    }
    &Form{
        max-width: 1110px;
        margin: 211px auto 157px;
        @media (max-width: 827px) {
            max-width: 692px;
            margin: 71px auto;
        }
        @media (max-width: 450px) {
            margin: 61px auto;
        }
        &Title{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 35px;
            color: #FFFFFF;
            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 30px;
            }
            & span{
                color: #FCD54C;
            }
        }
        &Top{
            margin: 71px 0 30px;
            display: flex;
            gap: 30px;
            @media (max-width: 757px) {
                flex-direction: column;
                margin: 30px 0 20px;
                gap: 20px;
            }
            & input{
                background: inherit;
                outline: none;
                padding: 20px;
                width: 350px;
                border: 1px solid #C9C9C9;
                @include contactFormText;
                @media (max-width: 827px) {
                    width: 211px;
                }
                @media (max-width: 757px) {
                    width: 100%;
                }
            }
        }
        &Bottom{
            width: 100%;
            padding: 20px;
            outline: none;
            background: inherit;
            border: 1px solid #C9C9C9;
            @include contactFormText;
        }
        &Btn{
            margin-top: 30px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            cursor: pointer;
            outline: none;
            border: none;
            color: #272727;
            background: #FCD54C;
            padding: 14px 42px;
            @media (max-width: 450px) {
                width: 100%;
            }
        }
    }
}