.banner {
    &I {
        position: absolute;
    }
    &Icons {
        position: absolute;
        right: 20px;
        top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &Swiper {
        height: 971px;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.4) 10.1%, rgba(0, 0, 0, 0) 76.11%), url(../../../../img/banner.png);
    }
    &Card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 742px;
        gap: 15px;
        position: absolute;
        top: 260px;
        left: 375px;
        border-left: 4px solid #FCD54C;
        padding: 44px 0 51px 28px;
        &::before {
            content: '';
            border-top: 4px solid #FCD54C;
            width: 115px;
            height: 3px;
            position: absolute;
            left: 0;
            top: 0;
        }
        &::after {
            content: '';
            border-bottom: 4px solid #FCD54C;
            width: 115px;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    &H1 {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 100px;
        color: #FFFFFF;
        &Span {
            color: #FCD54C;
        }
    }
    &P {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &Button {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        background: none;
        border: none;
        
    }
}

.sliderText {
    max-width: 116px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}